<a href="https://colab.research.google.com/github/vlasova-us/Python_public/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BA_%D0%BB%D0%B5%D0%BA%D1%86%D0%B8%D0%B8_%C2%AB%D0%98%D1%81%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F_%D0%B8_%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D0%B0_%D0%BE%D1%88%D0%B8%D0%B1%D0%BE%D0%BA%C2%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1**
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime
data_string = 'Wednesday, October 2, 2002'
data_datetime = datetime.strptime(data_string, '%A, %B %d, %Y')
data_datetime

datetime.datetime(2002, 10, 2, 0, 0)

In [ ]:
from datetime import datetime
data_string = 'Friday, 11.10.13'
data_datetime = datetime.strptime(data_string, '%A, %d.%m.%y')
data_datetime

datetime.datetime(2013, 10, 11, 0, 0)

In [ ]:
from datetime import datetime
data_string = 'Thursday, 18 August 1977'
data_datetime = datetime.strptime(data_string, '%A, %d %B %Y')
data_datetime

datetime.datetime(1977, 8, 18, 0, 0)

**Задание 2**
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
from datetime import datetime
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def proverb():
  for i in stream:
    try:
      data_datetime = datetime.strptime(i, '%Y-%m-%d')
      print (i, True)
    except ValueError:
      print (i, False)
    pass

proverb()

2018-04-02 True
2018-02-29 False
2018-19-02 False

In [ ]:
from datetime import datetime
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

for i in stream:
  try:
    data_datetime = datetime.strptime(i, '%Y-%m-%d')
    print (data_datetime, True)
  except ValueError:
    print (i, False)
    pass

2018-04-02 00:00:00 True
2018-02-29 False
2018-19-02 False

**Задание 3**
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import datetime
from datetime import timedelta

start_date_string = input ('Введите первую дату в формате YYYY-MM-DD: ')
end_date_string = input ('Введите первую дату в формате YYYY-MM-DD: ')

def date_range():
  list_date=[]
  try:
    start_date_datetime = datetime.strptime(start_date_string, '%Y-%m-%d')
    end_date_datetime = datetime.strptime(end_date_string, '%Y-%m-%d')

    while start_date_datetime <= end_date_datetime:
      list_date.append(start_date_datetime.strftime('%Y-%m-%d'))
      start_date_datetime += timedelta(days=1)
    
  except ValueError:
    print ([])
    pass

  return list_date

date_range()

Введите первую дату в формате YYYY-MM-DD: 2022-01-01
Введите первую дату в формате YYYY-MM-DD: 2019-01-01

[]